# Python Basics NoteBook

In [12]:
#Write a Python code to return your Python version
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0)

In [55]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]

id='513'
customer_id='513'
str=("customer_id=513")
str

'customer_id=513'

In [41]:
#Run the following statement, why there is an error

id=id+1

#there is an error because you can only add another string value to the statement, not an integer

#???? no idea how to do this

TypeError: can only concatenate str (not "int") to str

In [48]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.

In [18]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
course[1]

'y'

In [19]:
# Print the element on the 13th index in the string
course[13]

't'

In [20]:
# Find the length of string
len(course)

23

In [22]:
# Print the last element in the string [use negative index]
course[-1]

'e'

In [23]:
# Take the slice on variable course with only index 11 to index 14
course[11:14]

'Dat'

In [25]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [28]:
# Concatenate course string with ", AI & Development"
new_string= course + ", AI & Development"
print(new_string)

Python for Data Science, AI & Development

In [29]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
new_string.replace(' ', '_')

'Python_for_Data_Science,_AI_&_Development'

In [38]:
# Convert all the characters in string to upper case
new_string.upper()

'PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT'